<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <button href="signup_path" class="btn btn-lg btn-primary">Sign up now!</button>
</div>

<%= image_tag 'rails.png', class: 'class', id: 'identifier', style: 'width: 120px; height: 150px; margin-top: 5px	' %>